@charset "UTF-8";
.green_text {
  color: #04d404;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #050505;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(to right, #04d404 4.77%, #026e02 94.98%);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #050505;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.gradient-container {
  width: 100%;
  height: 100%;
  padding: 1px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .gradient-container {
    height: auto;
  }
}

.gradient-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.0384) 100%);
  z-index: 0;
  transition: 0.1s;
}

@media (max-width: 525px) {
  .hide_on_mobile {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .hide_on_laptop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide_on_tablet {
    display: none !important;
  }
}

.show_on_tablet {
  display: none;
}
@media (max-width: 768px) {
  .show_on_tablet {
    display: block;
  }
}

.show_on_mobile {
  display: none;
}
@media (max-width: 525px) {
  .show_on_mobile {
    display: block;
  }
}

@media (min-width: 769px) {
  .hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.cases-link {
  display: block !important;
}

body::-webkit-scrollbar,
.container::-webkit-scrollbar,
ul::-webkit-scrollbar {
  position: absolute !important;
  right: 0;
  width: 8px;
}
body::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
  background-color: rgba(234, 234, 234, 0.3137254902);
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body::-webkit-scrollbar-thumb:active,
.container::-webkit-scrollbar-thumb:active,
ul::-webkit-scrollbar-thumb:active {
  background-color: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 20px;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: black;
}

ul,
li {
  list-style-type: none;
}

ul {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: inherit !important;
}

video {
  mix-blend-mode: screen;
}

button {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 525px) {
  button {
    font-size: 16px;
  }
}

h1 {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 525px) {
  h1 {
    font-size: 21px;
  }
}

h2 {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 525px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 768px) {
  h3 {
    font-size: 22px;
  }
}
@media (max-width: 525px) {
  h3 {
    font-size: 16px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 525px) {
  p {
    font-size: 14px;
  }
}

.subtitle {
  text-align: center;
  font-size: 24px;
}
@media (max-width: 525px) {
  .subtitle {
    font-size: 18px;
  }
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 150px 20px;
  position: relative;
  height: 100%;
}
@media (max-width: 768px) {
  .container {
    padding: 50px 20px;
  }
}
@media (max-width: 525px) {
  .container {
    padding: 50px 10px;
  }
}

.homepage {
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
}
.homepage .container {
  position: relative;
  border-radius: 10px;
  z-index: 10;
  padding: 50px 20px 150px;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
@media (max-width: 768px) {
  .homepage .container {
    padding: 50px 20px;
    display: block;
  }
}
.homepage-background-text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 130px;
  text-align: center;
  background: linear-gradient(180deg, #FFFFFF 30.46%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0.14;
  z-index: 0;
}
@media (max-width: 1200px) {
  .homepage-background-text {
    font-size: 96px;
  }
}
@media (max-width: 850px) {
  .homepage-background-text {
    font-size: 80px;
  }
}
@media (max-width: 720px) {
  .homepage-background-text {
    font-size: 58px;
  }
}
@media (max-width: 525px) {
  .homepage-background-text {
    font-size: 46px;
  }
}
@media (max-width: 425px) {
  .homepage-background-text {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .homepage-background-text {
    font-size: 34px;
  }
}
.homepage__header {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.homepage__header-logo-wrapper {
  height: 250px;
  aspect-ratio: 1/1;
  margin: auto;
  position: relative;
}
.homepage__header-logo-wrapper img,
.homepage__header-logo-wrapper video {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
  mix-blend-mode: screen; /* Применяем режим смешивания */
}
@media (max-width: 525px) {
  .homepage__header-logo-wrapper {
    height: 150px;
  }
}
.homepage__header__main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.homepage__header__main-text br {
  display: none;
}
@media (max-width: 960px) {
  .homepage__header__main-text br {
    display: block;
  }
}
@media (max-width: 525px) {
  .homepage__header__main-text {
    gap: 5px;
  }
}
.homepage__header h1 {
  text-align: center;
}
.homepage__header p {
  text-align: center;
}
.homepage__header__cards {
  display: grid;
  grid-template: repeat(2, 200px)/repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  width: 90%;
  margin: 50px auto 0;
}
.homepage__header__cards div {
  position: relative;
  background-color: black;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
.homepage__header__cards div::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.15) 100%);
  z-index: -1;
}
.homepage__header__cards div:nth-child(3)::before, .homepage__header__cards div:nth-child(4)::before {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.15) 100%);
  z-index: -1;
}
.homepage__header__cards img {
  display: none;
}
.homepage__header__cards p {
  margin: 0 auto;
  text-align: left;
}
@media (max-width: 1200px) {
  .homepage__header__cards p {
    font-size: 18px;
  }
}
@media (max-width: 960px) {
  .homepage__header__cards {
    grid-template: repeat(2, 150px)/repeat(2, 1fr);
  }
  .homepage__header__cards p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .homepage__header__cards {
    width: 100%;
    grid-template: repeat(2, 120px)/repeat(2, 1fr);
  }
  .homepage__header__cards p {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  .homepage__header__cards p {
    font-size: 12px;
  }
}
@media (max-width: 525px) {
  .homepage__header__cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
  }
  .homepage__header__cards div {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 15px;
    align-items: center;
  }
  .homepage__header__cards div::before {
    display: none;
  }
  .homepage__header__cards img {
    display: block;
  }
  .homepage__header__cards p {
    margin: 0 auto 0 0;
  }
  .homepage__header__cards br {
    display: none !important;
  }
}
.homepage__header__sertificats {
  color: #04d404;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 20px;
}
@media (max-width: 525px) {
  .homepage__header__sertificats {
    font-size: 14px;
  }
}
.homepage__header-btns {
  display: grid;
  grid-template-columns: repeat(2, 270px);
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}
.homepage__header-btns button {
  background-color: #050505;
  border: 1px solid #292929;
  border-radius: 10px;
  transition: 0.3s;
  padding: 24px 48px;
  color: white;
  font-size: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.homepage__header-btns button:hover {
  background-color: white;
  color: black !important;
}
.homepage__header-btns button:active {
  scale: 0.95;
}
@media (max-width: 525px) {
  .homepage__header-btns button {
    height: 60px !important;
  }
}
.homepage__header-btns button svg {
  width: 20px;
  height: 20px;
}
@media (max-width: 525px) {
  .homepage__header-btns button {
    padding: 16px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .homepage__header-btns button {
    font-size: 14px;
    padding: 16px 10px;
  }
}
.homepage__header-btns a {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
}
.homepage__header-btns a svg {
  width: 20px;
  height: 20px;
}
.homepage__header-btns a:hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .homepage__header-btns a {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .homepage__header-btns a {
    font-size: 14px !important;
    height: 50px !important;
  }
}
.homepage__header-btns button,
.homepage__header-btns a {
  height: auto;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  width: 100%;
  font-weight: 600;
}
.homepage__header-btns button img,
.homepage__header-btns a img {
  width: 20px;
}
@media (max-width: 600px) {
  .homepage__header-btns {
    grid-template-columns: 1fr 1fr;
  }
  .homepage__header-btns button,
  .homepage__header-btns a {
    font-size: 14px;
  }
}
@media (max-width: 525px) {
  .homepage__header-btns {
    display: flex;
    margin-top: 30px;
  }
  .homepage__header-btns button,
  .homepage__header-btns a {
    height: auto !important;
    font-size: 12px;
    padding: 12px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 525px) {
  .homepage__header {
    grid-template-rows: 150px 0.3fr 0.1fr;
  }
}
.homepage__middleware {
  margin: 70px 0 30px;
  text-align: center;
}
.homepage__middleware h2 {
  margin-bottom: 20px;
}
@media (max-width: 525px) {
  .homepage__middleware h2 {
    margin-bottom: 10px;
  }
}
.homepage__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.homepage__main .gradient-border {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.024) 100%);
}
.homepage__main a {
  position: relative;
  border-radius: 10px;
  outline: none;
  background-color: #050505;
  z-index: 1;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  padding: 14px 20px;
  font-size: 20px;
  text-align: left;
  align-items: flex-start;
}
.homepage__main a:active {
  scale: 0.8;
}
.homepage__main a:active + .gradient-border {
  scale: 0.8;
}
.homepage__main a img {
  margin-left: auto;
}
@media (max-width: 960px) {
  .homepage__main a {
    padding: 15px;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .homepage__main a {
    padding: 10px;
    gap: 10px;
  }
}
@media (max-width: 525px) {
  .homepage__main a {
    font-size: 14px;
  }
}
.homepage__main a img {
  width: 60px;
}
@media (max-width: 525px) {
  .homepage__main a img {
    width: 32px;
  }
}
@media (max-width: 1200px) {
  .homepage__main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .homepage__main {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.trust {
  margin: 0 10px;
  position: relative;
  z-index: 1;
  background-color: #eaeaea;
  border-radius: 25px;
}
.trust h2 {
  margin-bottom: 20px;
}
.trust ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .trust ul {
    grid-template: auto/1fr;
    gap: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 525px) {
  .trust ul {
    gap: 20px;
  }
}
.trust li {
  background: linear-gradient(134.17deg, #ececec 4.98%, #e7e7e7 94.88%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
  border-radius: 16px;
  padding: 20px;
}
@media (max-width: 525px) {
  .trust li {
    padding: 14px;
  }
}
.trust__header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}
@media (max-width: 375px) {
  .trust__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.trust__icon {
  background: linear-gradient(134.17deg, #ececec 4.98%, #e7e7e7 94.88%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
  padding: 12px;
  border-radius: 14px;
}
.trust__icon svg {
  width: 50px;
  height: 50px;
}
@media (max-width: 768px) {
  .trust__icon {
    padding: 10px;
  }
  .trust__icon svg {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 525px) {
  .trust__icon svg {
    width: 24px;
    height: 24px;
  }
}
.trust button {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
  margin: 0 auto;
  padding: 24px 48px;
}
.trust button svg {
  width: 20px;
  height: 20px;
}
.trust button:hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .trust button {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .trust button {
    font-size: 14px !important;
    height: 50px !important;
  }
}
@media (max-width: 1200px) {
  .trust {
    background-color: black;
    margin: 0;
    padding: 0 10px;
  }
  .trust .container {
    background-color: #eaeaea;
    border-radius: 25px;
  }
}

.free {
  position: relative;
  height: 150vh;
}
.free .container {
  transition: 0.3s;
  position: fixed;
  top: 0;
  z-index: 0;
  padding: 20px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.free h2 {
  text-align: left;
}
.free h2 .smaller_text {
  font-size: 40px;
}
@media (max-width: 768px) {
  .free h2 .smaller_text {
    font-size: 22px;
  }
}
@media (max-width: 525px) {
  .free h2 .smaller_text {
    font-size: 18px;
  }
}
.free h3 {
  font-weight: 400;
  width: 50%;
  font-size: 32px;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.free p {
  font-size: 1.5rem;
  width: 50%;
  font-weight: 100;
}
.free button {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
  width: -moz-fit-content;
  width: fit-content;
}
.free button svg {
  width: 20px;
  height: 20px;
}
.free button:hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .free button {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .free button {
    font-size: 14px !important;
    height: 50px !important;
  }
}
.free img {
  position: absolute;
  width: 500px;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
}
@media (max-width: 1100px) {
  .free img {
    width: 500px;
  }
  .free p {
    width: 50%;
  }
}
@media (max-width: 960px) {
  .free img {
    width: 400px;
    top: auto;
    bottom: 20px;
    transform: unset;
    right: 20px;
  }
  .free .container {
    justify-content: center;
    gap: 40px;
  }
  .free h3 {
    width: 100%;
  }
  .free p {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .free {
    height: -moz-fit-content;
    height: fit-content;
  }
  .free .container {
    position: static;
    transform: unset;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    padding: 100px 20px;
  }
  .free img {
    width: 40%;
    aspect-ratio: 1/1;
    position: static;
    grid-area: 2/1;
    margin: 0 auto;
  }
  .free p {
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: left;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .free button {
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .free h2 {
    text-align: center;
  }
  .free h3 {
    text-align: center;
    position: relative;
    z-index: 1;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    font-size: 1.5rem;
  }
  .free p {
    text-align: center;
  }
}
@media (max-width: 525px) {
  .free .container {
    height: 100%;
    display: grid;
    grid-template: auto auto auto 1fr/1fr;
    top: 0;
    padding: 50px 20px;
  }
  .free h2 {
    font-size: 28px;
  }
  .free h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .free p {
    font-size: 18px;
  }
  .free .smaller_text {
    margin-top: 10px;
  }
  .free img {
    width: 60%;
  }
}

.partner {
  background-color: #eaeaea;
  margin: 0 10px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}
.partner h2 {
  margin-bottom: 20px;
}
.partner .swiper {
  margin: 5rem 0;
}
.partner .swiper-wrapper {
  display: grid;
  grid-template: 1fr 1fr/repeat(3, 1fr);
  gap: 20px;
}
@media (min-width: 526px) {
  .partner .swiper-wrapper {
    width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .partner .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.partner .swiper-wrapper .swiper-slide {
  background: linear-gradient(134.17deg, #ececec 4.98%, #e7e7e7 94.88%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
  padding: 1.5rem;
  border-radius: 20px;
}
.partner .swiper-wrapper .swiper-slide span {
  font-size: 1rem;
}
@media (min-width: 1201px) {
  .partner .swiper-wrapper .swiper-slide {
    margin: 0 !important;
  }
  .partner .swiper-wrapper .swiper-slide:nth-child(4) {
    width: 152% !important;
  }
  .partner .swiper-wrapper .swiper-slide:nth-child(5) {
    width: 152% !important;
    position: relative;
    left: 52%;
  }
}
@media (min-width: 526px) {
  .partner .swiper-wrapper .swiper-slide {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (max-width: 768px) {
  .partner .swiper-wrapper .swiper-slide {
    height: auto !important;
  }
  .partner .swiper-wrapper .swiper-slide p {
    font-size: 16px;
  }
}
@media (max-width: 525px) {
  .partner .swiper-wrapper .swiper-slide p {
    font-size: 1rem;
  }
}
.partner .swiper-pagination {
  position: static;
  margin-bottom: 50px;
}
.partner .swiper-pagination-bullet {
  background: linear-gradient(to right, #04d404 4.77%, #026e02 94.98%);
  border-radius: 10px;
  width: 20px;
  height: 2px;
  transition: 0.3s;
}
.partner .swiper-pagination-bullet-active {
  width: 40px;
}
.partner__header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.25rem;
}
@media (max-width: 525px) {
  .partner__header {
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .partner__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.partner .open_left_section {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  color: white !important;
}
.partner .open_left_section svg {
  width: 20px;
  height: 20px;
}
.partner .open_left_section:hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .partner .open_left_section {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .partner .open_left_section {
    font-size: 14px !important;
    height: 50px !important;
  }
}
@media (max-width: 768px) {
  .partner .swiper {
    margin: 5rem 0 20px;
  }
  .partner .swiper-wrapper {
    gap: 20px;
  }
  .partner .swiper-slide {
    margin: 0 !important;
  }
}
@media (max-width: 525px) {
  .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partner .container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 50px 0;
  }
  .partner h2,
  .partner .subtitle {
    padding: 0 10px;
  }
  .partner .swiper {
    padding: 0 10px;
  }
  .partner .swiper-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.comfort {
  color: white;
  position: relative;
  height: 150vh;
}
.comfort .container {
  transition: 0.3s;
  padding: 0 10px;
  position: fixed;
  background-color: black;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.comfort h2 {
  text-align: left;
}
.comfort p {
  font-size: 32px;
  width: 50%;
}
.comfort button {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
  width: -moz-fit-content;
  width: fit-content;
}
.comfort button svg {
  width: 20px;
  height: 20px;
}
.comfort button:hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .comfort button {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .comfort button {
    font-size: 14px !important;
    height: 50px !important;
  }
}
.comfort img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1100px) {
  .comfort img {
    width: 500px;
  }
}
@media (max-width: 960px) {
  .comfort p {
    width: 100%;
  }
  .comfort img {
    top: auto;
    transform: unset;
    bottom: -50px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .comfort {
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
  .comfort .container {
    position: static;
    transform: unset;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    gap: 40px;
    padding: 100px 20px;
  }
  .comfort h2 {
    text-align: center;
  }
  .comfort p {
    font-size: 1.5rem;
  }
  .comfort img {
    position: static;
    grid-area: 2/1;
    margin: 0 auto;
    width: 40%;
  }
  .comfort a {
    margin: 0 auto;
  }
  .comfort button {
    margin: 0 auto;
  }
}
@media (max-width: 525px) {
  .comfort .container {
    padding: 50px 20px;
  }
  .comfort img {
    width: 60%;
  }
  .comfort h2 {
    font-size: 28px;
  }
  .comfort p {
    font-size: 16px;
  }
}

.price {
  background-color: #eaeaea;
  margin: 0 10px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}
@media (max-width: 525px) {
  .price .container {
    padding: 50px 10px;
  }
}
.price ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 5rem 0 3rem;
}
@media (max-width: 768px) {
  .price ul {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0;
    gap: 20px;
  }
}
@media (max-width: 525px) {
  .price ul {
    gap: 10px;
  }
}
.price h2 {
  margin-bottom: 20px;
}
.price li {
  transition: 0.3s;
  border-radius: 20px;
}
.price label {
  background: linear-gradient(134.17deg, #ececec 4.98%, #e7e7e7 94.88%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 30px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 10px;
  transition: 0.3s;
}
@media (max-width: 525px) {
  .price label {
    padding: 16px 12px;
    grid-template: auto 20px/1fr;
  }
}
.price li:has(.checkbox-input:checked) {
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.2);
}
.price .checkbox-input {
  display: none;
}
.price .checkbox-input:checked + label .checkbox:after {
  transform: translate(-50%, -50%) scale(1);
}
.price .checkbox {
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255, 249, 249, 0.385) 0%, rgba(255, 255, 255, 0.55) 86.5%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.05), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}
.price .checkbox:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s;
  background: linear-gradient(90deg, rgba(4, 212, 4, 0.385) 0%, rgba(4, 212, 4, 0.55) 86.5%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.05), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 525px) {
  .price .checkbox {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }
  .price .checkbox::after {
    width: 20px;
    height: 20px;
  }
}
.price button {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
  margin: 0 auto;
}
.price button svg {
  width: 20px;
  height: 20px;
}
.price button:hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .price button {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .price button {
    font-size: 14px !important;
    height: 50px !important;
  }
}

.segments {
  scroll-margin-top: -100px;
  background-color: black;
  position: relative;
  z-index: 1;
  color: white;
}
.segments .container {
  display: grid;
  grid-template-rows: auto auto 1fr;
}
@media (max-width: 768px) {
  .segments .container {
    padding: 100px 20px 50px;
  }
}
@media (max-width: 525px) {
  .segments .container {
    padding: 100px 20px 50px;
  }
}
.segments__main {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
.segments__main a {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 14px 20px;
  gap: 20px;
  font-size: 20px;
}
.segments__main img {
  width: 60px;
  margin-left: auto;
}
@media (max-width: 768px) {
  .segments__main {
    grid-template-columns: repeat(2, 1fr);
  }
  .segments__main img {
    width: 50px;
  }
}
@media (max-width: 525px) {
  .segments__main {
    gap: 14px;
  }
  .segments__main a {
    padding: 10px;
    font-size: 14px;
  }
  .segments__main img {
    width: 32px;
  }
}
@media (max-width: 525px) {
  .segments h2 {
    margin-bottom: 20px;
  }
}

.cases-block {
  background-color: black;
  color: white;
  z-index: 1;
  position: relative;
}
.cases-block .container {
  padding: 20px 20px 150px;
  display: flex;
  flex-direction: column;
}
.cases-block .swiper {
  background-color: #141414;
  border: 1px solid #292929;
  border-radius: 20px;
  padding: 40px 20px 20px;
  width: 100%;
  margin: 5rem 0 20px;
}
@media (max-width: 768px) {
  .cases-block .swiper {
    padding-bottom: 20px;
  }
}
.cases-block .swiper .swiper-pagination {
  display: none;
  top: auto;
  bottom: 0px;
}
@media (max-width: 768px) {
  .cases-block .swiper .swiper-pagination {
    display: block;
    align-items: center;
  }
}
.cases-block .swiper .swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  background-color: #808080;
  border-radius: 10px;
  transition: 0.3s;
}
.cases-block .swiper .swiper-pagination-bullet-active {
  width: 40px;
  background-color: black;
}
@media (max-width: 525px) {
  .cases-block .swiper {
    padding: 12px;
  }
}
.cases-block .swiper-wrapper {
  width: 100% !important;
  height: 550px;
}
@media (max-width: 768px) {
  .cases-block .swiper-wrapper {
    height: 450px;
  }
}
@media (max-width: 525px) {
  .cases-block .swiper-wrapper {
    height: 500px;
  }
}
.cases-block__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: flex-start;
  gap: 10px;
}
.cases-block__card .gradient-container {
  border-radius: 50%;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  max-width: 130px;
}
@media (max-width: 768px) {
  .cases-block__card .gradient-container {
    max-width: 100px;
  }
}
.cases-block__card .gradient-container .case_with_review {
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.cases-block__card .gradient-container button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cases-block__card .gradient-container button .pause_button {
  opacity: 0;
}
.cases-block__card .gradient-border {
  border-radius: 50%;
  z-index: -1;
  height: auto;
  aspect-ratio: 1/1;
}
.cases-block__card h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
.cases-block__card p {
  color: #fff;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .cases-block__card p {
    font-size: 14px;
  }
}
.cases-block__card button {
  background-color: transparent;
  border: 0;
  outline: none;
}
.cases-block__card span {
  position: absolute;
  width: calc(100% - 2px);
  height: auto;
  aspect-ratio: 1/1;
  background-color: #050505;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  z-index: 0;
}
.cases-block__card img {
  position: relative;
  z-index: 1;
  width: 70%;
}
.cases-block .trustUs__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cases-block .trustUs__navigation .trustUs_container-pagination {
  width: -moz-fit-content;
  width: fit-content;
}
.cases-block .trustUs__navigation .swiper-pagination-bullet {
  width: 20px;
  border-radius: 20px;
  height: 2px;
  background: linear-gradient(to right, #04d404 4.77%, #026e02 94.98%);
  transition: 0.3s;
}
.cases-block .trustUs__navigation .swiper-pagination-bullet-active {
  width: 40px;
}
.cases-block .trustUs__navigation .trustUs_container-button-prev,
.cases-block .trustUs__navigation .trustUs_container-button-next {
  position: static;
  background: linear-gradient(to right, #04d404 4.77%, #026e02 94.98%);
  border-radius: 50%;
  width: 32px;
  height: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .cases-block .trustUs__navigation .trustUs_container-button-prev,
  .cases-block .trustUs__navigation .trustUs_container-button-next {
    display: none;
  }
}
.cases-block .trustUs__navigation .trustUs_container-button-prev svg {
  rotate: 180deg;
}
.cases-block__btns {
  display: flex;
  margin-top: 50px;
  gap: 10px;
  height: 60px;
}
.cases-block__btns button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cases-block__btns button:nth-child(1) {
  background-color: #050505;
  border: 1px solid #292929;
  border-radius: 10px;
  transition: 0.3s;
  padding: 24px 48px;
  color: white;
  font-size: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.cases-block__btns button:nth-child(1):hover {
  background-color: white;
  color: black !important;
}
.cases-block__btns button:nth-child(1):active {
  scale: 0.95;
}
@media (max-width: 525px) {
  .cases-block__btns button:nth-child(1) {
    height: 60px !important;
  }
}
.cases-block__btns button:nth-child(1) svg {
  width: 20px;
  height: 20px;
}
@media (max-width: 525px) {
  .cases-block__btns button:nth-child(1) {
    font-size: 14px;
  }
}
.cases-block__btns button:nth-child(2) {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
}
.cases-block__btns button:nth-child(2) svg {
  width: 20px;
  height: 20px;
}
.cases-block__btns button:nth-child(2):hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .cases-block__btns button:nth-child(2) {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .cases-block__btns button:nth-child(2) {
    font-size: 14px !important;
    height: 50px !important;
  }
}
@media (max-width: 768px) {
  .cases-block__btns {
    padding: 0 10px;
    flex-direction: column;
  }
}

.faq {
  background-color: black;
  position: relative;
  z-index: 1;
  color: white;
}
.faq .gradient-container {
  margin: 0 auto;
  max-width: 1200px;
}
.faq .container {
  padding: 20px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media (max-width: 525px) {
  .faq .container {
    padding: 40px 10px;
  }
}
@media (max-width: 525px) {
  .faq .smaller_text {
    font-size: 18px;
  }
}
.faq .fp-watermark {
  opacity: 0;
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.faq__card {
  background-color: #141414;
  border: 1px solid #292929;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  list-style-type: none;
  position: relative;
}
.faq__header {
  padding: 20px 24px;
  display: grid;
  grid-template-columns: 28px 1fr;
  gap: 20px;
  align-items: center;
}
@media (max-width: 768px) {
  .faq__header {
    padding: 12px 16px;
  }
}
.faq__main {
  transition: 0.5s;
  height: 100%;
  max-height: 0;
  padding: 0 24px;
}
@media (max-width: 768px) {
  .faq__main {
    padding: 0 16px;
  }
}
.faq__main p {
  font-size: 1.125rem;
  padding-left: 48px;
}
.faq__btns {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.faq__btns a {
  width: 100%;
  padding: 16px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}
.faq__btns a:nth-child(1) {
  background-color: #050505;
  border: 1px solid #292929;
  border-radius: 10px;
  transition: 0.3s;
  padding: 24px 48px;
  color: white;
  font-size: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.faq__btns a:nth-child(1):hover {
  background-color: white;
  color: black !important;
}
.faq__btns a:nth-child(1):active {
  scale: 0.95;
}
@media (max-width: 525px) {
  .faq__btns a:nth-child(1) {
    height: 60px !important;
  }
}
.faq__btns a:nth-child(1) svg {
  width: 20px;
  height: 20px;
}
.faq__btns a:nth-child(2) {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
}
.faq__btns a:nth-child(2) svg {
  width: 20px;
  height: 20px;
}
.faq__btns a:nth-child(2):hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .faq__btns a:nth-child(2) {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .faq__btns a:nth-child(2) {
    font-size: 14px !important;
    height: 50px !important;
  }
}
@media (max-width: 768px) {
  .faq__btns {
    flex-direction: column;
    gap: 20px;
  }
}
.faq .plus-icon {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  transition: 0.5s;
}
.faq .plus-icon--vertical-line, .faq .plus-icon--horizontal-line {
  position: absolute;
  background-color: black;
  left: 50%;
  top: 50%;
  transition: 0.5s;
  transform: translate(-50%, -50%);
}
.faq .plus-icon--vertical-line {
  width: 1px;
  height: 50%;
}
.faq .plus-icon--horizontal-line {
  width: 50%;
  height: 1px;
}
.faq .plus-icon.active {
  rotate: 360deg;
  background: linear-gradient(to right, #04d404 4.77%, #026e02 94.98%);
}
.faq .plus-icon.active .plus-icon--vertical-line {
  width: 0;
  height: 0;
}

.contacts {
  background-color: black;
  position: relative;
  color: white;
}
.contacts .container {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 30px;
}
.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.contacts__info a {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .contacts .container {
    grid-template: 1fr auto/1fr;
  }
  .contacts__info {
    justify-content: flex-start;
  }
}

.slideIn_left {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  animation-name: slideOut-left;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  opacity: 0;
  visibility: visible;
  background-color: black;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.slideIn_left h2 {
  text-align: left;
  font-size: 32px;
}
@media (max-width: 768px) {
  .slideIn_left h2 {
    font-size: 24px;
  }
}
@media (max-width: 525px) {
  .slideIn_left h2 {
    font-size: 20px;
  }
}
.slideIn_left .gradient-container {
  height: 100% !important;
}
.slideIn_left .container {
  background-color: #050505;
  border-radius: 10px;
  min-height: auto;
  overflow: auto;
  height: 100%;
  position: relative;
  z-index: 1;
}
.slideIn_left.active {
  animation-name: slideIn-left;
}

.consultation {
  color: white;
}
.consultation .container {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 50px;
  align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .consultation .container {
    grid-template: 1fr/1fr;
    overflow: auto;
    gap: 0;
  }
}
.consultation #video {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
@media (max-width: 768px) {
  .consultation #video {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
.consultation__back-btn {
  color: #f5f5f5;
  padding: 12px 24px;
  border-radius: 10px;
  border: 1px solid #292929;
  background-color: #050505;
  transition: 0.1s;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.consultation__back-btn:hover {
  background-color: #f5f5f5;
  color: #050505;
}

.consultation__form {
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.consultation__form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.consultation__form .input-container {
  position: relative;
}
.consultation__form .input-container label {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.consultation__form .input-container input {
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  padding: 20px 12px 12px;
  border: 1px solid #292929;
  border-radius: 10px;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.consultation__form .input-container input:focus {
  outline: none;
}
.consultation__form .input-container input:focus ~ label, .consultation__form .input-container input:valid ~ label {
  top: 4px;
  font-size: 12px;
  color: gray;
}
.consultation__form .input-container .required_input::after {
  content: "*";
  color: red;
  padding-left: 5px;
}
.consultation__form .submit-btn {
  border: none;
  background: linear-gradient(134.17deg, #04d404 4.98%, #55aa55 94.88%);
  border-radius: 10px;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: -12px -12px 20px rgba(4, 212, 4, 0.13), 10px 10px 20px rgba(9, 90, 9, 0.49);
  cursor: pointer;
  width: 100%;
  height: 55px !important;
  display: grid;
  place-content: center;
  position: relative;
}
.consultation__form .submit-btn svg {
  width: 20px;
  height: 20px;
}
.consultation__form .submit-btn:hover {
  scale: 0.95;
}
@media (max-width: 768px) {
  .consultation__form .submit-btn {
    padding: 16px 24px;
  }
}
@media (max-width: 525px) {
  .consultation__form .submit-btn {
    font-size: 14px !important;
    height: 50px !important;
  }
}
.consultation__form .submit-btn svg {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
}
.consultation__form .submit-btn:disabled {
  opacity: 0.6;
  cursor: auto;
}
.consultation__form .submit-btn:disabled:hover {
  scale: 1;
}

.case_with_review {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  animation: shadow 1s infinite linear;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  display: grid;
  place-items: center;
  z-index: 1;
  background-color: transparent;
  border: none;
  outline: none;
}
.case_with_review svg:nth-child(1) {
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}
.case_with_review svg:nth-child(2) {
  transition: 0.3s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.case_with_review:hover {
  background-color: #050505;
}
.case_with_review:hover svg:nth-child(1) {
  opacity: 1;
  visibility: visible;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 10px 0px #292929, 0 0 10px 0px #292929;
  }
  100% {
    box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 30px rgba(255, 48, 26, 0);
  }
}
.cases_all {
  color: white;
  font-size: 16px;
}
.cases_all .container {
  display: grid;
  grid-template: auto 1fr/auto;
  gap: 40px;
  padding-top: 70px;
  position: relative;
  padding: 20px 20px 0;
}
.cases_all.active {
  display: block !important;
}
.cases_all.active .hide_left_section {
  left: calc(50% - 580px);
}
@media (max-width: 1200px) {
  .cases_all.active .hide_left_section {
    left: 20px;
  }
}
.cases_all .hide_left_section {
  background-color: #050505;
  border: 1px solid #292929;
  border-radius: 10px;
  transition: 0.3s;
  padding: 24px 48px;
  color: white;
  font-size: 20px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  padding: 12px 24px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: white;
  margin-left: auto;
  grid-area: 1/2;
}
.cases_all .hide_left_section:hover {
  background-color: white;
  color: black !important;
}
.cases_all .hide_left_section:active {
  scale: 0.95;
}
@media (max-width: 525px) {
  .cases_all .hide_left_section {
    height: 60px !important;
  }
}
.cases_all .hide_left_section svg {
  width: 20px;
  height: 20px;
}
.cases_all ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 !important;
  overflow-y: auto;
  grid-column-start: 2 span;
}
.cases_all li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1.5rem;
  background-color: #050505;
  border: 1px solid #292929;
  border-radius: 20px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100% !important;
}
.cases_all__header {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.cases_all__header h3 {
  font-weight: 400;
}
.cases_all__header p {
  padding-left: 1rem;
  border-left: 1px solid #292929;
  font-size: 16px;
}
.cases_all__header img {
  width: 100%;
}
@media (max-width: 768px) {
  .cases_all__header {
    grid-template: auto/150px 1fr;
  }
  .cases_all__header p {
    grid-column-start: 2 span;
    width: 100%;
    padding-left: 0;
    border: none;
  }
}
@media (max-width: 525px) {
  .cases_all__header {
    grid-template: auto/1fr;
  }
  .cases_all__header p {
    grid-area: 3/1;
  }
}
.cases_all__gray-line {
  height: 1px;
  background-color: #292929;
  width: 100%;
  display: block;
}
.cases_all__logo {
  position: relative;
}
.cases_all__main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.cases_all__main span {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.certificates {
  background-color: rgba(0, 0, 0, 0.5);
}
.certificates .container {
  background-color: transparent;
  border: 1px solid #04d404;
  aspect-ratio: 1/1;
  padding: 100px 0 20px;
  width: 100%;
  max-width: 768px;
  display: grid;
  grid-template-rows: 50% 40%;
}
.certificates__img-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificates__main-img {
  height: 100%;
  margin: 0 auto;
  display: block;
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 525px) {
  .certificates__main-img {
    width: 90%;
    height: auto;
    max-height: 300px;
  }
}
@media (min-height: 750px) and (max-width: 525px) {
  .certificates__main-img {
    max-height: 400px;
  }
}
@media (min-height: 850px) and (max-width: 525px) {
  .certificates__main-img {
    max-height: 480px;
  }
}
.certificates .swiper {
  width: 100%;
  grid-row-start: 2 span;
}
.certificates .swiper-slide {
  scale: 0.9;
  transition: 0.3s ease;
  display: grid;
  place-items: center;
}
.certificates .swiper-slide-active {
  scale: 1;
}
.certificates .swiper img {
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .certificates .swiper img {
    border-radius: 10px;
  }
}
.certificates button {
  background-color: #050505;
  border: 1px solid #292929;
  border-radius: 10px;
  transition: 0.3s;
  padding: 24px 48px;
  color: white;
  font-size: 20px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  margin: 0 auto;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 20px;
}
.certificates button:hover {
  background-color: white;
  color: black !important;
}
.certificates button:active {
  scale: 0.95;
}
@media (max-width: 525px) {
  .certificates button {
    height: 60px !important;
  }
}
.certificates button svg {
  width: 20px;
  height: 20px;
}
@media (max-width: 525px) {
  .certificates button {
    font-size: 12px;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .certificates button img {
    width: 16px;
  }
}

@keyframes slideIn-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideOut-left {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}/*# sourceMappingURL=style.css.map */